
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section scripts
{
<script src="~/assets/js/Kaadoto/Client/ClientDetails.js"></script>
}
    <form id="info-form" class="form-horizontal" data-toggle="validator" role="form">
        <div class="form-group">
            <label class="control-label col-md-2" for="Title">Title</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Title" type="text" required="required">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="btnUploadPhoto">Image</label>
            <div class="col-md-2">
                <button id="btnUploadPhoto" class="btn btn-default" type="button">Choose file</button>
                <div id="errorPhoto"></div>
            </div>
            <div id="filePhoto" class="col-md-8">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Create" class="btn btn-default" >Save</button>
            </div>
        </div>
    </form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    var photouploader = singleUploaded([{ title: "Image files", extensions: "jpg" }],
    'btnUploadPhoto',
    '/upload/Upload',
    'info-form',
    '#filePhoto',
    '#errorPhoto',
    undefined,
    '1mb',
   true);
</script>