

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="contactus_main">

    <div class="section pages_banner">
        <div class="row"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact_us_form_wrap card">
                    <div class="card_body">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="">
                                    <div class="c_u_form_header forms_header">
                                        Register
                                    </div>
                                    <form id="info-form" data-toggle="validator" role="form">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fname">Phone Number:</label>
                                                    <input type="text" class="form-control" id="PhoneNumber" required="required" readonly="readonly">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fname">User Name:</label>
                                                    <input type="text" class="form-control" id="UserName" required="required">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="email">Password:</label>
                                                    <input type="password" class="form-control" id="Password" required="required">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fname">Name:</label>
                                                    <input type="text" class="form-control" id="Name" required="required">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fname">Family:</label>
                                                    <input type="text" class="form-control" id="Family" required="required">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fname">Email:</label>
                                                    <input type="email" class="form-control" id="Email" required="required">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button type="submit" class="contactus_submit btn_with_loader btn btn_general">
                                                    <div class="spinner hidden"></div>
                                                    <span class="submit_text btn_with_loader_text">Register</span>
                                                </button><span class="response_contact_text message_sent hidden">Your message was sent successfully. Thank you.</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <hr class="visible-xs" />
                            </div>
                            <div class="col-sm-5 border_left_gray">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <br />
        <div>
        </div>
    </div>
</div>

<script src="~/assets/js/Kaadoto/Account/Register.js"></script>