
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    <!-- Page Parallax Header -->
<div class="ws-parallax-header parallax-window" data-parallax="scroll" data-image-src="assets/img/backgrounds/shop-header-bg.jpg">
    <div class="ws-overlay">
        <div class="ws-parallax-caption">
            <div class="ws-parallax-holder">
                <h1>Our Products</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Page Parallax Header -->
@RenderBody()


