<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/assets/css-css">
    <include path="~/assets/css/bootstrap.min.css"/>
    <include path="~/assets/css/animate.min.css"/>
    <include path="~/assets/css/main.css"/>
    <include path="~/assets/css/Kaadoto.css"/>
  </styleBundle>

  <styleBundle path="~/assets/js/plugins-css">
    <!-- Revolution Slider -->
    <include path="~/assets/js/plugins/revolution/css/settings.css"/>
    <include path="~/assets/js/plugins/revolution/css/layers.css"/>
    <include path="~/assets/js/plugins/revolution/css/navigation.css"/>

    <!-- Owl Carousel -->
    <include path="~/assets/js/plugins/owl-carousel/owl.carousel.css"/>
  </styleBundle>
  
  <styleBundle path="~/assets/js/Kaadoto/Uploader-css">
    <include path="~/assets/js/Kaadoto/Uploader/jquery.ui.plupload/css/jquery-ui.css" />
    <include path="~/assets/js/Kaadoto/Uploader/jquery.ui.plupload/css/jquery.ui.plupload.css" />
  </styleBundle>
</bundles>